<div class="jumbotron jumbotron-fluid">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-static-top navbar-light bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
      <ul class="navbar-nav ml-auto text-center display-4">
        <li class="nav-item">
          <a class="nav-link cursor-pointer" (click)="scrollTo('last-recipe')">Przepisy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" (click)="scrollTo('why')">Gorący sok?</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
      <a class="mx-auto navbar-brand" routerLink="/">
        <img src="../../assets/img/dring.png" class="rounded-circle" height="140px" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
      <ul class="navbar-nav mr-auto text-center display-4">
        <li class="nav-item">
          <a class="nav-link cursor-pointer" (click)="scrollTo('contact')">Kontakt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor-pointer" (click)="scrollTo('fanpage')">Facebook</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container text-center pt-3">
    <h1 class="display-2">Dzień dobry!</h1>
    <p class="lead">Witaj na moim blogu poświeconym gorącemu soku pomarańczowemu.</p>
    <a class="cursor-pointer" (click)="scrollTo('fanpage')"
      ><button type="button" class="btn btn-secondary btn-lg">Zobacz więcej</button></a
    >
  </div>
</div>
