footer {
  background-color: #f6f6f6;
  color: black;
  padding-top: 20px;
}

footer a i {
  color: black;
  padding: 5px 15px 5px 15px;
}

footer a i:hover {
  color: #DC660F;
}

.fa-heart {
  color: tomato;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
