<div id="send-recipe" class="animated fadeIn" #contact>
  <div class="send-recipe-header clearfix">
    <div class="container narrow text-center">
      <div class="col-12">
        <h3 class="heading">Prześlij przepis!</h3>
        <div class="heading-underline"></div>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="send-recipe-container container clearfix">
      <div class="row">

        <div class="col-md-8">
          <app-recipe-form></app-recipe-form>
        </div>

        <div class="col-md-4 p-0">
          <app-contact></app-contact>
        </div>

      </div>
    </div>
  </div>

</div>
