<div class="recipe-form">
  <h5>Pokaż nam swoją wersję gorącego soku pomarańczowego!</h5>

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">
    <div class="form-row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group has-float-label">
          <input
            class="form-control"
            type="text"
            id="username"
            placeholder="Anna"
            formControlName="username"
            [ngClass]="{
                  'has-danger': recipeForm.controls.username.invalid && recipeForm.controls.username.touched,
                  'has-success': recipeForm.controls.username.valid && recipeForm.controls.username.touched }"
          />
          <label for="username">Imię *</label>
          <div class="error"
               *ngIf="recipeForm.controls.username.invalid && (recipeForm.controls.username.dirty || recipeForm.controls.username.touched)">
            <p *ngIf="recipeForm.controls.username.errors.required">Imię nie może być puste</p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <div class="form-group has-float-label">
          <input
            class="form-control"
            type="text"
            id="email"
            placeholder="anna@gmail.com"
            formControlName="email"
            required
            [ngClass]="{
                  'has-danger': recipeForm.controls.email.invalid && recipeForm.controls.email.touched,
                  'has-success': recipeForm.controls.email.valid && recipeForm.controls.email.touched }"
          />
          <label for="email">Adres e-mail *</label>

          <div class="error"
               *ngIf="recipeForm.controls.email.invalid && (recipeForm.controls.email.dirty || recipeForm.controls.email.touched)">
            <p *ngIf="recipeForm.controls.email.errors.required">Email nie może być pusty</p>
            <p *ngIf="recipeForm.controls.email.errors.email">Adres e-mail musi zawierać znak @</p>
          </div>

        </div>
      </div>
    </div>

    <div class="form-row pb-2">
      <div class="col-md-6 col-sm-12">
        <div class="form-group has-float-label">
          <input type="file"
                 id="image"
                 class="form-control-file"
                 formControlName="imageUrl"
                 (change)="showPreview($event)"
                 accept=".png,.jpg"
                 [ngClass]="{
                          'has-danger': recipeForm.controls.imageUrl.invalid && recipeForm.controls.imageUrl.touched,
                          'has-success': recipeForm.controls.imageUrl.valid && recipeForm.controls.imageUrl.touched }">

          <div class="error"
               *ngIf="recipeForm.controls.imageUrl.invalid && (recipeForm.controls.imageUrl.dirty || recipeForm.controls.imageUrl.touched)">
            <p *ngIf="recipeForm.controls.imageUrl.errors.required">Zdjęcie musi być dodane</p>
            <p *ngIf="!this.valid">Zdjęcie musi być w formacie .jpg lub .png</p>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-sm-12" *ngIf="url.length != 0">
        <img class="img-fluid image-recipe" [src]="url">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <div class="form-group has-float-label">
          <input
            class="form-control"
            type="text"
            id="nameRecipe"
            placeholder="Gorący sok z imbirem"
            formControlName="nameRecipe"
            [ngClass]="{
                  'has-danger': recipeForm.controls.nameRecipe.invalid && recipeForm.controls.nameRecipe.touched,
                  'has-success': recipeForm.controls.nameRecipe.valid && recipeForm.controls.nameRecipe.touched }"
          />

          <label for="nameRecipe">Nazwa przepisu *</label>

          <div class="error"
               *ngIf="recipeForm.controls.nameRecipe.invalid && (recipeForm.controls.nameRecipe.dirty || recipeForm.controls.nameRecipe.touched)">
            <p *ngIf="recipeForm.controls.nameRecipe.errors.required">Nazwa nie może być pusta</p>
          </div>

        </div>
      </div>
    </div>

    <div class="form-row">
      <div formArrayName="ingredients" *ngFor="let ingredient of getControls(); let i = index">
        <div class="form-row" [formGroupName]="i">

          <div class="col-md-2 col-sm-12">
            <div class="form-group has-float-label">
              <input
                class="form-control"
                type="number"
                min="1"
                formControlName="amount"
                id="{{'amount' + i}}"
                placeholder="1"
                [ngClass]="{
                        'has-danger': ingredient.controls.amount.invalid && ingredient.controls.amount.touched,
                        'has-success': ingredient.controls.amount.valid && ingredient.controls.amount.touched }">

              <label attr.for="{{'amount' + i}}">Ilość</label>

              <div class="error" *ngIf="ingredient.controls.amount.invalid && ingredient.controls.amount.touched">
                <p *ngIf="ingredient.controls.amount.errors.required">Pole nie może być puste</p>
                <p *ngIf="ingredient.controls.amount.errors.pattern">Niepoprawna wartość</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-12">
            <label class="form-group has-float-label">
              <select
                class="form-control"
                formControlName="measure"
                id="measure"
                style="cursor: pointer"
                required
                [ngClass]="{
                        'has-success': ingredient.controls.measure.valid && ingredient.controls.measure.touched}">
                <option *ngFor="let m of measures" [value]="m">{{m}}</option>
              </select>
              <label for="measure">Jednostka</label>
            </label>
          </div>

          <div class="col-md-5 col-sm-12">
            <div class="form-group has-float-label">
              <input
                class="form-control"
                type="text"
                id="{{'name' + i}}"
                placeholder="soku pomarańczowego"
                formControlName="name"
                [ngClass]="{
                        'has-danger': ingredient.controls.name.invalid && ingredient.controls.name.touched,
                        'has-success': ingredient.controls.name.valid && ingredient.controls.name.touched }">

              <label attr.for="{{'name' + i}}">Składnik</label>

              <div class="error" *ngIf="ingredient.controls.name.invalid && ingredient.controls.name.touched">
                <p>Pole nie może być puste</p>
              </div>
            </div>
          </div>

          <div class="col-md-1 col-sm-6 mt-2 p-1">
            <button type="button" class="btn btn-sm btn-block btn-danger" [disabled]="i === 0"
                    (click)="onDeleteIngredient(i)"><i class="fas fa-minus"></i>
            </button>
          </div>

          <div class="col-md-1 col-sm-6 mt-2 p-1">
            <button type="button" class="btn btn-sm btn-block btn-success" (click)="onAddIngredient()"><i
              class="fas fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="col-md-12 col-sm-12 textarea">
        <div class="form-group has-float-label">
                  <textarea
                    style="resize: none"
                    autosize
                    id="recipe"
                    class="form-control"
                    placeholder="Sok pomarańczowy podgrzewamy ..."
                    formControlName="recipe"
                    [ngClass]="{
                    'has-danger': recipeForm.controls.recipe.invalid && recipeForm.controls.recipe.touched ,
                    'has-success': recipeForm.controls.recipe.valid && recipeForm.controls.recipe.touched }">
                  </textarea>
          <label for="recipe">Przepis</label>

          <div class="error"
               *ngIf="recipeForm.controls.recipe.invalid && (recipeForm.controls.recipe.dirty || recipeForm.controls.recipe.touched)">
            <p *ngIf="recipeForm.controls.recipe.errors.required">Przepis nie może być pusty</p>
          </div>

        </div>
      </div>
    </div>


    <div class="row text-center display-2">
      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <button type="button" class="btn btn-reset" (click)="onResetRecipe()">Wyczyść</button>
      </div>

      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <button type="submit" class="btn btn-main"
                [ngClass]="recipeForm.valid ? 'animated shake' : 'btn btn-main'" [disabled]="!recipeForm.valid">
          Wyślij
        </button>
      </div>
    </div>
  </form>
</div>
