<div id="fanpage" class="wow slideInRight" data-wow-offset="200" #fanpage>
  <div class="fixed">
    <div class="row dark text-center">
      <div class="col-12 narrow text-center">
        <h3 class="heading">Odwiedź nasz fanpage!</h3>
        <div class="heading-underline"></div>
        <p class="lead">Dowiedz się wiecej poprzez nasz fanpage! Codziennie świeże informacje i inspiracje związane z gorącym sokiem pomarańczowym!</p>
        <a class="btn btn-secondary wow pulse" data-wow-iteration="infinite" data-wow-duration="2s" href="https://www.facebook.com/Gor%C4%85cy-Sok-Pomara%C5%84czowy-393551174555661/"
           target="_blank">PRZEJDŹ DO FB</a>
      </div>
    </div>
  </div>
</div>
