<div id="fanpage" class="wow slideInRight" data-wow-offset="200">
  <div class="fixed">
    <div class="row dark text-center">
      <div class="col-12 narrow text-center">
        <h3 class="heading">Odwiedź nasz fanpage!</h3>
        <div class="heading-underline"></div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur doloremque ea error
          facere id ipsum magnam maxime modi molestiae mollitia nam natus, necessitatibus nostrum officiis quibusdam
          sapiente veniam voluptatum.</p>
        <a class="btn btn-secondary wow pulse" data-wow-iteration="infinite" data-wow-duration="2s" href="https://www.facebook.com/Gor%C4%85cy-Sok-Pomara%C5%84czowy-393551174555661/"
           target="_blank">PRZEJDŹ DO FB</a>
      </div>
    </div>
  </div>
</div>
