<div id="why" class="wow slideInLeft" data-wow-offset="200">
  <div class="container-fluid">
    <div class="row dark text-center">
      <div class="col-12">
        <h3 class="heading">Dlaczego gorący sok?</h3>
        <div class="heading-underline"></div>
      </div>

      <div class="row mx-auto pt-5">
        <div class="col-md-2 wow bounceInLeft" data-wow-delay="0.5s">
          <h3>POMARAŃCZKA</h3>
          <img src="../../assets/icon/orange.png" alt="orange" style="max-height: 140px">
          <p class="lead">Wiele różnych pomarańczek ...</p>
        </div>

        <div class="col-md-1" style="margin-top: 100px; margin-bottom: 100px;">
          <i class="fas fa-plus fa-4x"></i>
        </div>

        <div class="col-md-3 wow bounceInUp" data-wow-delay="0.5s">
          <h3>OGIEŃ</h3>
          <img src="../../assets/icon/fire.png" alt="fire" style="max-height: 140px">
          <p class="lead">Podgrzewanie ...</p>
        </div>

        <div class="col-md-1" style="margin-top: 100px; margin-bottom: 100px;">
          <i class="fas fa-equals fa-4x"></i>
        </div>

        <div class="col-md-5 wow bounceInRight" data-wow-delay="0.5s">
          <h3>GORĄCY SOK POMARAŃCZOWY!</h3>
          <img src="../../assets/icon/mug.png" alt="mug" style="max-height: 140px">
          <p class="lead">Powstaje pyszny gorący sok pomarańczowy.</p>
        </div>
      </div>

    </div>
  </div>
</div>
