.jumbotron {
  background-color: white;
  margin: 0;
  padding: 50px 10px 70px 10px;
  border-radius: 0;
}

.clients img {
  width: 100%;
  border-radius: 50%;
}

blockquote .svg-inline--fa {
  color: #1EBBA3;
  margin: 1rem;
}

.clients-hr {
  border-top: 1px solid #f1802d;
}

.fa, .fab, .fal, .far, .fas {
  color: #f1802d;
}

h3.heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading-underline {
  width: 60px;
  height: 5px;
  background-color: #f1802d;
  border-radius: 5px;
  margin: 0 auto 32px;
}
