<div class="container-fluid mt-3 mb-5 wow slideInRight" data-wow-offset="200">
  <div class="offset">
    <div class="jumbotron">
      <div class="col-12 text-center pb-5">
        <h3 class="heading">Opinie</h3>
        <div class="heading-underline"></div>
      </div>

      <div class="row">
        <div class="col-md-6 clients">
          <div class="row">
            <div class="col-md-4"><img src="../../assets/img/client1.png"></div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <i class="fas fa-quote-left"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
                <hr class="clients-hr">
                <cite>&#8212; Eric, Small Buisness Owner</cite>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="col-md-6 clients">
          <div class="row">
            <div class="col-md-4"><img src="../../assets/img/client2.png"></div>
            <div class="col-md-8">
              <blockquote class="blockquote">
                <i class="fas fa-quote-left"></i>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
                <hr class="	clients-hr">
                <cite>&#8212; Reachel, Small Buisness Owner</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
