* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

$gs-white: #fff;
$gs-orange: #f1802d;
$gs-orange-dark: #dc660f;

h3.heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heading-underline {
  width: 60px;
  height: 5px;
  background-color: $gs-orange;
  border-radius: 5px;
  margin: 0 auto 32px;
}

.btn-secondary {
  border-radius: 5px;
  padding: 10px 22px;
  font-size: 21px;
  text-transform: uppercase;
  margin: 22px;
  border: medium $gs-orange;
  background-color: $gs-orange;
  color: $gs-white;

  &:hover,
  &:focus {
    border-color: $gs-orange-dark;
    background-color: $gs-orange-dark;
    color: $gs-white;
  }
}
