.contact {
  height: 100%;
  text-align: center;
  background: #f1802d;
  color: #fff;
  padding: 50px 10px 50px 10px;
}

.contact .detail {
  margin-bottom: 30px;
}

.contact .detail p {
  margin: 0;
  padding-left: 18px;
  font-size: 16px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}
